:root {
    --background-bg: #22212a;
    --primary-bg: #fffff4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-bg);
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;

}

.flex-row {
    flex-direction: row;
}

.nav-bar {
    width: 100%;
    height: 20dvh;
    border-bottom: 1px solid #80808052;
    justify-content: space-between;
}
.nav-active {
    background-color: var(--primary-bg);
} 
.width-icon {
    width: 30%;
    max-width: 300px;
}

.menu {
    display: none;
    position: fixed;
    top: 50%;
    height: 100vh;
    background-color: transparent;
    background: #00000085;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.menu-active {
    display: flex;
    animation: menu-animation 0.5s ease-in-out forwards;
}

@keyframes menu-animation {
    from {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    to {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.menu a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo {
    width: 25%;
    max-width: 250px;
}

.cursor {
    cursor: pointer;
}

.icon-menu-off {
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    width: 8%;
    max-width: 80px;
    transform: rotateX(45deg);
}

.invert {
    filter: invert(1);
}

.film-section {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    user-select: none;
    cursor: grab;
    width: 100%;
    padding: 30px 2rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.photo:first-child {
    margin-left: 0;
}

.film-section::-webkit-scrollbar {
    display: none;
}

.photo {
    flex: 0 0 auto;
    user-select: none;
    -webkit-user-drag: none;
    scrollbar-width: none;
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    width: 160px;

}

.photo-active {
    transform: scale(1.1);
    transform-origin: center;
}

::-webkit-scrollbar {
    display: none;
}

.photos-film {

    scroll-snap-align: start;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.primary-section {
    padding: 20px;
}
.title-primary {
    color: white;
    margin-right: auto;
}
@media (min-width:1024px) {

    .photo:hover {
        transform: scale(1.1);
        transform-origin: center;
    }
}

@media (min-width:728px) {
    .logo {
        width: 10%;
        max-width: 100px;
    }

    .icon-menu-off {

        width: 5%;
        max-width: 50px;
    }
}